---
---

.result-title{
	color: #8b008b;
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 2rem 0;
		h4 {
			margin: 0 0 10px 0;
			font-size: 1.35rem;
		}

		p {
			line-height: 1.5;
			padding: 0;
			margin: 0;
		}
	}
}

#search-query {
	font-weight: bold;
}

.search-div{
    display: block;

    .search-input{
      border: 0;
      border-radius: 6px;
      background: #fff;
      color: #000;
      font-size: 1.1rem;
      padding: 1rem;
      width: calc(100% - 55px);
      display: inline-block;

      &:focus{
        outline: none;
        border: 0;
      }
    }

    .search-submit{
      background: 0 0;
      border: 0;
      padding: 0;
      text-align: center;
      font-size: 1.5rem;
      color: #fff;
      font-weight: 700;
      display: inline-block;
      cursor: pointer;
      width: 50px;

      &:hover{
        background: 0 0;
        color: #ace8ac;
      }

      &:focus{
        border: 0;
        outline: none;
      }
    }
}
