{% if site.data.setting.lang.current == "en" %}
  {% assign more_title = site.data.lang['more_post'].title.en %}
  {% assign more_reading = site.data.lang['section'].reading.more.en %}
  {% assign more_thought = site.data.lang['section'].thought.more.en %}
  {% assign more_tutorial = site.data.lang['section'].tutorial.more.en %}
{% else %}
  {% assign more_title = site.data.lang['more_post'].title.vn %}
  {% assign more_reading = site.data.lang['section'].reading.more.vn %}
  {% assign more_thought = site.data.lang['section'].thought.more.vn %}
  {% assign more_tutorial = site.data.lang['section'].tutorial.more.vn %}
{% endif %}

{% case page.categories[0] %}
  {% when "reading" %}
    {% assign class-col = 'col-xs-6 col-sm-3 px-1 px-md-2' %}
    {% assign class-main = 'book-main' %}
    {% assign class-photo = 'p-3 p-md-4 px-lg-5 px-xl-6' %}
    {% assign limit = 4 %}
    {% assign img-src = '/img/bookimg' | prepend: site.baseurl %}
    {% include sec-title.html title=more_title href="/reading" more=more_reading %}
  {% when "thought" %}
    {% assign class-col = 'col-6 col-sm-4 col-md-3 text-center mb-3' %}
    {% assign class-main = 'thought2-main text-center' %}
    {% assign img-src = '/img/thought' | prepend: site.baseurl %}
    {% assign limit = 4 %}
    {% include sec-title.html title=more_title href="/thought" more=more_thought %}
  {% when "tutorial" %}
    {% assign class-main = 'tutorial-main' %}
    {% assign class-col = 'col-6 col-md-4 col-lg-2 p-2' %}
    {% assign class-photo = 'px-4 py-3' %}
    {% assign class-description = 'd-none d-sm-block' %}
    {% assign limit = 6 %}
    {% assign img-src = '/img/tutorial' | prepend: site.baseurl %}
    {% include sec-title.html title=more_title href="/tutorial" more=more_tutorial %}
{% endcase %}

<div class="row row-eq-height justify-content-center">
  <script type="text/javascript">

    var class_col = '{{ class-col }}';
    var class_main = '{{ class-main }}';
    var class_photo = '{{ class-photo }}';
    var img_src = '{{ img-src }}';

    var randomIndexUsed = [];
    var counter = 0;

    if (Titles.length > {{ limit }}){
      var numberOfPosts = {{ limit }};
    }else{
      var numberOfPosts = Titles.length;
    }

    while (counter < numberOfPosts){
      var randomIndex;
      var ttitle;
      var uurl, ssubtitle, ddate, ddescription, iimg, rrating, erating;
      iimg = '';
      ddate = '';
      ssubtitle = '';
      ddescription = '';
      erating = '';
      randomIndex = Math.floor(Math.random() * Titles.length);
      if (randomIndexUsed.indexOf(randomIndex) == "-1"){
        ttitle = Titles[randomIndex];
        uurl = Urls[randomIndex];
        {% if page.subtitle %}
          ssubtitle = Subtitles[randomIndex];
        {% endif %}
        {% if page.date %}
          ddate = Dates[randomIndex];
        {% endif %}
        {% if page.description %}
          ddescription = Descriptions[randomIndex];
        {% endif %}
        {% if page.img %}
          iimg = Imgs[randomIndex];
        {% endif %}

        {% if site.lang.current == 'en' %}
          {% assign udname = site.data.lang['update'].en %}
        {% else %}
          {% assign udname = site.data.lang['update'].vn %}
        {% endif %}
        if (Updates[randomIndex] == 'true'){
          uupdate = '<div class="ribbon">{{ udname }}</div>';
        }else{
          uupdate = '';
        }

        {% if page.rating %}
          rrating = Ratings[randomIndex];
          switch(rrating) {
              case '1':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '1.5':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-half-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '2':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '2.5':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-half-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '3':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '3.5':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-half-o" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '4':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-o" aria-hidden="true"></i>';
                  break;
              case '4.5':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star-half-o" aria-hidden="true"></i>';
                  break;
              case '5':
                  erating = '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '<i class="fa fa-star" aria-hidden="true"></i>';
          }
        {% endif %}
        document.write(
          '<div class="' + class_col + '">' +
            '<div class="' + class_main + ' layout-main">' +
              '<a href="{{site.baseurl}}' + uurl + '">' +
                uupdate +
                '<div class="element-photo ' + class_photo + '">' +
                  '<img src="' + img_src + '/' + iimg + '"/>' +
                '</div>' +
                '<div class="element-title">' +
                  ttitle +
                '</div>' +
                '<div class="element-subtitle">' +
                  ssubtitle +
                '</div>' +
                '<div class="element-date">' +
                  ddate +
                '</div>' +
                '<div class="element-description">' +
                  ddescription +
                '</div>' +
                '<div class="element-rating">' +
                  erating +
                '</div>' +
              '</a>' +
            '</div>' +
          '</div>'
        );
        randomIndexUsed.push(randomIndex);
        counter++;
      }
    }
  </script>
</div>
