<div class="{{ class-col }}">
  <div class="{{ class-main }} layout-main">
    {% if element.url %}
      <a href="{{site.baseurl}}{{ element.url }}">

        {% assign submitDate = site.time | date: '%s' %}
        {% assign postDate = element.date | date: '%s' %}
        {% assign diffDate = submitDate | minus: postDate %}
        {% assign daySince = diffDate | divided_by: 604800 %}

        {% if element.update and daySince == 0 %}
        {% if site.lang.current == 'en' %}
          {% assign udname = site.data.lang['update'].en %}
        {% else %}
          {% assign udname = site.data.lang['update'].vn %}
        {% endif %}
          <div class="ribbon">{{ udname }}</div>
        {% endif %}

        <div class="element-photo {{ class-photo }}">
          <img src="{{site.baseurl}}{{ include.img-src }}/{{ element.img }}" />
        </div>

        <div class="element-title">
          {{ element.title }}
        </div>

        {% if element.subtitle %}
          <div class="element-subtitle">
            {{ element.subtitle }}
          </div>
        {% endif %}

        {% if element.date %}
          <div class="element-date">
            {{ element.date | date_to_string }}
          </div>
        {% endif %}

        {% if element.description %}
          <div class="element-description">
            {{ element.description }}
          </div>
        {% endif %}

        {% if element.rating %}
          <div class="element-rating">
            {% include rating.html number=element.rating %}
          </div>
        {% endif %}
      </a>
    {% else %}
      <div class="element-photo {{ class-photo }}">
        <img src="{{site.baseurl}}{{ include.img-src }}/{{ element.img }}" />
      </div>

      <div class="element-title">
        {{ element.title }}
      </div>

      {% if element.subtitle %}
        <div class="element-subtitle">
          {{ element.subtitle }}
        </div>
      {% endif %}

      {% if element.date %}
        <div class="element-date">
          {{ element.date | date_to_string }}
        </div>
      {% endif %}

      {% if element.description %}
        <div class="element-description">
          {{ element.description }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
