<div class="container">
  {% include sec-title.html title="Say hello" more="look forward to getting your ideas" %}
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-12">
      <form name="name-contact-form" method="POST" action="https://formspree.io/dinhanhthimail@gmail.com">
        <div class="form-group row contact-form">
          <div class="col-sm-6 col-12 mb-3"><input onkeyup="enableButton()" type="text" name="name" placeholder="Your name"></div>
          <div class="col-sm-6 col-12 mb-3"><input onkeyup="enableButton()" type="email" name="email" placeholder="Your email""></div>
          <div class="col-12 textarea-container mb-3">
            <textarea onkeyup="enableButton()" id="abc" name="message" placeholder="Your message"></textarea>
            <div class="textarea-size"></div>
          </div>
          <div id="contact-submit" class="col-12 text-center">
            <button type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>