// intro
.about-intro{
  color: #444;
  font-size: 1.15rem;
}

// donation
.about-donate{
  .strong, strong{
    color: #ffff00;
    font-weight: 600;
  }
  padding: 5rem 0 4rem 0;
  text-align: center;
  background-image: linear-gradient(to right top, #382885, #422e95, #4c33a6, #5739b7, #623ec8);
  color: #fff;
}

// learning field
.field-img{
  img{
    width: 100%;
  }
  &.left{
    padding-right: 2%!important;
  }
  &.right{
    display: none!important;
  }
  &.bleft{
    display: none!important;
  }
  &.bright{
    padding-left: 2%!important;
  }
}
.my-learning{
  margin: 1rem 0 2rem 0;
  padding: 3rem 1rem;
  &:nth-child(even){
    background: #fff6eb;
    border-radius: 1rem;
    border: 2px dashed #ffd200;
  }
  &:nth-child(odd){
    background: #90ee902e;
    border-radius: 1rem;
    border: 2px dashed #0ebb0e;
  }
  .right{
    text-align: right;
    @media (max-width: 575px){
      text-align: left;
    }
  }
  .subject{
    font-size: 1.6rem;
    font-weight: 600;
    img{
      display: inline-block;
      height: 4rem;
      margin-right: 10px;
    }
    span{
      // border-bottom: 2px solid;
      padding-bottom: 5px;
      // padding-right: 3rem;
    }
  }
  .intro{
    font-style: italic;
    font-size: 1.1rem;
    margin: .5rem 0 1rem 0;
    opacity: 0.9;
  }
  .content{
    ul{
      font-size: 1.1rem;
      margin-top: 0.5rem;
      margin-left: 0.4rem;
      text-align: left;
      li{
        margin-bottom: .5rem;
        .year{
          font-weight: 600;
        }
        span.activity{
          color: #111;
        }
        .more{
          font-style: italic;
          font-size: 1rem;
          opacity: 0.8;
          margin-top: 3px;
        }
      }
      // &.left, &.right{
      //   border-left: 2px dashed #2a79cc;
      // }
    }
    .buttonD{
      font-size: 1.1rem;
      color: #2a79cc;
      padding: 0 2rem 2px 0;
      font-weight: 600;
      cursor: pointer;
      &::before{
        display: inline-block;
        content: ' ';
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
      }

      &.collapsed::before {
        transform: rotate(-90deg) translateX(3px);
      }

      &.right{
        padding-right: 0;
      }
    }
  }
}
