.thought-main{
  background: #fffcec;
  border: 1px solid #d8d1b0;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  a{
    margin: 0 auto;
  }
  &:hover{
    background: #fff3c8;
    .element-title{
      color: #0085A1;
    }
    .element-subtitle{
      color: #666;
    }
    .element-rating{
      color: #ff9d00;
    }
  }
  .element-title{
    font-size: 1rem;
  }
  .element-subtitle{
    font-size: 0.75rem;
    margin-top: 7px;
  }
  .element-photo{
    display: none;
  }
  .element-description{
    display: none;
  }
  .element-date{
    font-size: 0.75rem;
    color: #666;
    margin-top: 7px;
  }

  .ribbon{
    display: none;
  }
}
