---
layout: page
more-css:
  - "/css/sketch.css"
  - "/css/lightbox.min.css"
more-js:
  - "/js/lightbox-plus-jquery.min.js"
  - "/js/contact-form.js"
---

{% assign cpage = page.current_page %}
{% assign nb_photos = site.data.setting.nsketch %}
{% assign nb_photos = nb_photos | plus: 0 %}
{% assign off_set = cpage | minus: 1 %}
{% assign off_set = off_set | times: 24 %}
{% assign nbphotos = nb_photos | times: 1.0 %}
{% assign total_page = nbphotos | divided_by: 24 %}
{% assign total_page =  total_page | ceil %}

<section class="alt-color section">
  <div class="container">
    {% if total_page > 1 %}
      <div class="mb-4">
        {% include pagination.html type="sketch" %}
      </div>
    {% endif %}
    <div class="row justify-content-center">
      {% if cpage == 1 %}
        {% include sketch.html offset=0 limit=24 nbphotos=nb_photos %}
      {% else %}
        {% include sketch.html offset=off_set limit=24 nbphotos=nb_photos %}
      {% endif %}
    </div>
    {% if total_page > 1 %}
      <div class="my-4">
        {% include pagination.html type="sketch" %}
      </div>
    {% endif %}
  </div>
</section>