---
---

/* index */
#idx-header{
  background: linear-gradient(to bottom right,#111217,#484d60);
  color: hsla(0,0%,100%,.8);
  padding: 50px 0;
}
#idx-header .img-avatar{
  max-width: 200px;
  margin: 0 auto;
}
.img-avatar img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.idx-abt h1{
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
.idx-abt a{
  color: #ffeead;
  font-size: 1.2rem;
  font-weight: bold;
}
.idx-social .mr-s{
  margin-right: 1.5rem;
}
.idx-abt a:hover{
  text-decoration: none;
  color: #fbe17d;
}
.idx-abt p{
  font-size: 1.2rem;
}
/* sizing */
@media (max-width: 450px){
  #idx-header .img-avatar{
    max-width: 150px;
  }
  .idx-abt h1{
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px){
  .idx-abt{
    margin-top: 2rem;
  }
}
@media screen and (max-width: 400px){
  .idx-social{
    font-size: 1rem;
  }
  .idx-social .mr-s{
    margin-right: 0.5rem;
  }
  .idx-abt a{
    font-weight: normal;
  }
}

/* page-post */
{% for nav in site.data.nav %}
  #page-header.bg-{{ nav.name }}{
    background-image:linear-gradient(160deg,#{{ nav.color }},#06060669);
    background-color: #{{ nav.color }};
    
  }
{% endfor %}
#page-header.bg-default{
  background-image:linear-gradient(160deg,#3292f6,#06060669);
  background-color: #3292f6;
}
#page-header h1{
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
#page-header h3{
  font-size: 1.5rem;
  color: hsla(0,0%,100%,.9);
}
#page-header{
  padding: 4rem 0;
}
@media screen and (max-width: 420px){
  #page-header h1{
    font-size: 3rem;
  }
  #page-header h3{
    font-size: 1.3rem;
  }
}

/* reading */
.bg-reading .book-cover{
  max
}