---
layout: base
title: Dinh Anh Thi
subtitle: Nest of an autodidactic worm
nav: home
css:
  - "/css/index.css"
  - "/css/project.css"
  - "/css/reading.css"
  - "/css/sketch.css"
  - "/css/lightbox.min.css"
  - "/css/contact-form.css"
  - "/css/tutorial.css"
  - "/css/thought.css"
js:
  - "/js/lightbox-plus-jquery.min.js"
  - "/js/contact-form.js"
---

{% include header.html type="index" %}

<!-- quotes -->
<section id="idx-quotes" class="alt-color text-center section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-12">
        <script type="text/javascript">
          var randomIndex;
          var quoteContent;
          var quoteAuthor;
          var quoteProfile;
          randomIndex = Math.floor(Math.random() * quotesContent.length);
          quoteContent = quotesContent[randomIndex];
          quoteAuthor = quotesAuthor[randomIndex];
          quoteProfile = quotesProfile[randomIndex];
          document.write(
            '<p class="quote-content">' + 
              quoteContent +
            '</p>'
          );
          if (quoteProfile != "nolink"){
            document.write(
              '<p class="quote-author mb-1">' + 
                '<a target="_blank" href="' + quoteProfile + '">' +
                  quoteAuthor +
                '</a>' +
              '</p>'
            );
          } else{
            document.write(
              '<p class="quote-author mb-1">' + 
                '<span>' + quoteAuthor + '</span>' +
              '</p>'
            );
          }
        </script>
        <p class="quote-more">
          (<a href="/my-favorite-quotes">see all favorite quotes</a>)
        </p>
      </div>
    </div>
  </div>
</section>

<!-- projects -->
<section id="idx-project" class="alt-color section">
  <div class="container">
    {% include sec-title.html title="Recent projects" href="/projects" more="see all projects" %}
    <div class="row justify-content-center">
      {% for pro in site.data.projects limit:4 %}
        <div class="col-xs-6 col-sm-4 col-md-3 text-center project-main">
          <div class="project-img">
            <a target="_blank" href="{{ pro.url }}"><img src="/img/project/{{ pro.img }}" /></a>
          </div>
          <div class="project-name">
            <a target="_blank" href="{{ pro.url }}">{{pro.name}}</a>
          </div>
          <div class="project-des">
            {{pro.des}}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- reading books -->
<section class="alt-color section">
  <div class="container">
    {% include sec-title.html title="Recent read books" href="/reading" more="see all books" %}
    <div class="row row-eq-height justify-content-center">
      {% for post in site.categories.reading limit:4 %}
        <div class="col-xs-6 col-sm-3 px-1 px-md-2">
          <div class="card-book">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <div class="book-img p-3 p-md-4 px-lg-5 px-xl-6">
                <img class="img img-responsive full-height" src="{{ post.bookimg }}">
              </div>
            </a>
            <div class="book-caption">
              <h4>
                <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
                </a>
              </h4>
              <p>{% if post.profile %} <a target="_blank" href="{{ post.profile }}">{{ post.bookauthor }}</a> {% else %} {{ post.bookauthor }} {% endif %}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- sketch -->
<section class="alt-color section">
  <div class="container">
    {% include sec-title.html title="Latest sketches" href="/sketches" more="see all photos" %}
    <div class="row justify-content-center">
      {% for photo in site.data.sketch limit:8 %}
        <div class="col-md-3 col-sm-4 col-xs-6 gal-item">
          <div class="box">
            <a href="{{ site.baseurl }}/img/sketch/{{ photo.url }}" data-lightbox="gallery-set" data-title="{{ photo.des }}">
              <img src="{{ site.baseurl }}/img/sketch/{{ photo.url }}" class="img-fluid" alt="{{ photo.des }}">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- thoughts -->
<section class="alt-color section">
  <div class="container">
    {% include sec-title.html title="Latest thoughts" href="/thoughts" more="see all posts" %}
    <div class="row row-eq-height justify-content-center">
      {% for post in site.categories.thoughts limit:12 %}
        <div class="col-6 col-md-4 col-lg-2 p-2">
          <div class="thought-main text-center">
            <a href="{{ post.url }}">
              <h4>{{ post.title }}</h4>
              <div class="thought-date">
                {{ post.date | date_to_string }}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- tutorials -->
<section class="alt-color section">
  <div class="container">
    {% include sec-title.html title="Recent tutorials" href="/tutorials" more="see all tricks" %}
    <div class="row row-eq-height justify-content-center">
      {% for post in site.categories.tutorials limit:6 %}
        <div class="col-6 col-md-4 col-lg-2 p-2">
          <div class="tuto-main text-center">
            <a href="{{ post.url }}">
              <div class="px-4 py-3">
                <img class="card-img-top" src="/img/tutorials/{{ post.icon }}" alt="{{ post.title }}">
              </div>
              <h4>{{ post.title }}</h4>
              <div class="tuto-date">
                {{ post.date | date_to_string }}
              </div>
              <hr class="my-2 d-none d-sm-block">
              <div class="tuto-description d-none d-sm-block">
                {{ post.des }}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- contact -->
<section class="alt-color section">
  <div class="container">
    {% include sec-title.html title="Say hello" more="look forward to getting your ideas" %}
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-12">
        <form method="POST" action="https://formspree.io/dinhanhthimail@gmail.com">
          <div class="form-group row contact-form">
            <div class="col-sm-6 col-12 mb-3"><input type="text" name="name" placeholder="Your name"></div>
            <div class="col-sm-6 col-12 mb-3"><input type="email" name="email" placeholder="Your email"></div>
            <div class="col-12 textarea-container mb-3">
              <textarea id="abc" name="message" placeholder="Your message"></textarea>
              <div class="textarea-size"></div>
            </div>
            <div class="col-12 text-center">
              <button type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>