---
---
/* color */
.txt-green{
  color: #5eeda3;
}

/* bg color */
.alt-color:nth-child(even) {
  background-color: #F4F4F4;
}

/* grid extra small */
@media (min-width: 350px) and (max-width: 575px){
  .col-xs-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-xs-4{
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.row-eq-height > [class*='col-'] {
  display: flex;
}

/* spacing */
@media (min-width: 1200px){
  .px-xl-6{
    padding-left: 4rem!important;
    padding-right: 4rem!important;
  }
}

/* nav bar */
/* -------------------------------------- */
.nav-bg{
  background: #272a34;
}
.navbar{
  padding: 0 1rem;
}
.navbar a{
  color: #a1a7b9;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.33333%;
  flex: 1 1 33.33333%;
  text-align: center;
  padding: 0.5rem 0.25rem;
}
@media screen and (max-width: 400px){
  .navbar{
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px){
  .navbar .container{
    max-width: 100%;
    padding: 0;
  }
}
@media (min-width: 600px){
  .navbar a{
    -webkit-box-flex: 1;
    flex: 1;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    display: flex;
    font-size: 1.1rem;
    padding: 1rem 0.5rem;
    height: 100%;
    text-align: center;
  }
}
.nav-search{
  display: none;
}
@media (min-width: 992px){
  .nav-search{
    display: block;
    margin-left: 10px;
  }
  .nav-search-input{
    border: 0;
    border-radius: 6px;
    background: #3d4251;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
    height: 45px;
    width: 200px;
  }
  .nav-search-input:focus{
    outline: none;
    border: 0;
    background: #484d60;
  }
  .nav-search-input:hover{
    background: #484d60;
  }
  .nav-search-submit{
    background: 0 0;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin: 0 0 0 10px;
  }
  .nav-search-submit:hover{
    background: 0 0;
    color: #5eeda3;
  }
  .nav-search-submit:focus{
    border: 0;
    outline: none;
  }
}
@media (min-width: 1200px){
  .nav-search-input{
    width: 300px;
  }
}
.navbar a:hover{
  color: #fff;
  background: #20232b;
  text-decoration: none;
}


/* font */
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}
a:hover{
  color: #0085A1;
  text-decoration: none;
}

/* sec title */
.sec-title{
  margin-bottom: 1.5rem;
}
.sec-title h2{
  font-weight: 800;
  color: #4682b4;
}
@media (max-width: 576px){
  .sec-title h2{
    font-size: 1.6rem;
  }
}
.sec-title h4{
  font-style: italic;
  font-weight: normal;
  font-size: 1.1rem;
}
.sec-more a{
  color: #888;
}
.sec-more{
  color: #888;
}
.sec-more a:hover{
  color: #555;
}

/* section */
.section{
  padding: 3rem 10px;
}

/* footer */
.footer{
  background: linear-gradient(to bottom right,#111217,#484d60);
  color: #fff;
}
.footer a{
  color: #fff;
}
.footer a:hover{
  color: #999;
}
.footer-more{
  color: #a2a2a2;
  font-size: 0.9rem;
  margin-top: 5px;
  font-style: italic;
}

/* pagination */
.tpagination {
  text-align: center;
  padding: 20px 0;
}
.tpagination .page-element {
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #444;
  border: 1.4px solid #aaa;
  display: inline-block;
  vertical-align: middle;
  line-height: 2.5;
  text-decoration: none;
  border-radius: 50%;
  margin: 4px;
  transition: all 0.2s linear;
}
.tpagination .disable{
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.tpagination .page-element.disable:hover{
  background: transparent;
  border-color: #bbb;
  color: #444;
}
.tpagination .page-element:hover, .tpagination .active {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}

.tpagination .active {
  pointer-events: none;
}

.page-element.arrw{
  font-size: 2rem;
  line-height: 1.4;
  background: #6fb5cc;
  color: #fff;
  border-color: transparent;
}