<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% case total_page %}
      {% when 1 %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><span class="page-link">1</span></li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      {% when 2 %}
        {% if cpage == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><span class="page-link">1</span></li>
          <li class="page-item"><a class="page-link" href="/{{ include.type }}/page-2">2</a></li>
          <li class="page-item">
            <a class="page-link" href="/{{ include.type }}/page-2">Next</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="/{{ include.type }}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/{{ include.type }}">1</a></li>
          <li class="page-item active"><span class="page-link">2</span></li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
      {% else %}
        {% case cpage %}
          {% when 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><span class="page-link">1</span></li>
            {% for i in (2..total_page) %}
              <li class="page-item"><a class="page-link" href="/{{ include.type }}/page-{{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item">
              <a class="page-link" href="/{{ include.type }}/page-2">Next</a>
            </li>
          {% when 2 %}
            <li class="page-item">
              <a class="page-link" href="/{{ include.type }}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="/{{ include.type }}">1</a></li>
            <li class="page-item active"><span class="page-link">2</span></li>
            {% for i in (3..total_page) %}
              <li class="page-item"><a class="page-link" href="/{{ include.type }}/page-{{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item">
              <a class="page-link" href="/{{ include.type }}/page-3">Next</a>
            </li>
          {% when total_page %}
            {% assign ttpmo = total_page | minus: 1 %}
            <li class="page-item">
              <a class="page-link" href="/{{ include.type }}/page-{{ ttpmo }}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="/{{ include.type }}">1</a></li>
            {% for i in (2..ttpmo) %}
              <li class="page-item"><a class="page-link" href="/{{ include.type }}/page-{{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item active"><span class="page-link">{{ total_page }}</span></li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
          {% else %}
            {% assign cpmo = cpage | minus: 1 %}
            {% assign cppo = cpage | plus: 1 %}
            <li class="page-item">
              <a class="page-link" href="/{{ include.type }}/page-{{ cpmo }}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="/{{ include.type }}">1</a></li>
            {% for i in (2..cpmo) %}
              <li class="page-item"><a class="page-link" href="/{{ include.type }}/page-{{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item active"><span class="page-link">{{ cpage }}</span></li>
            {% for i in (cppo..total_page) %}
              <li class="page-item"><a class="page-link" href="/{{ include.type }}/page-{{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item">
              <a class="page-link" href="/{{ include.type }}/page-{{ cppo }}">Next</a>
            </li>
        {% endcase %}
    {% endcase %}
  </ul>
</nav>